
<div class="suplogin">
    <h6>Ingrese sus datos para iniciar sesión</h6>
</div>

<div class="login">  
    <form action="/admin/login" method="post">
        <div class="form-group uyc">
            <input type="text" class="form-control" id="inputUser" placeholder="Usuario" name="usuario">
        </div>


        <div class="form-group uyc passw">
            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Contraseña">
        </div>
    
        
        <div class=" btingreso">
            <button class="btn btn-primary botonform" type="submit">Ingresar</button>
        </div>
        
    </form>
    {{#if error}}
        <div class="cajaerror">
            <p class="errorlogin">Usuario <br> o <br>contraseña <br> incorrecta.</p>
        </div>
    {{/if}}
</div>