<div>
    <div>
        <div>
            <p> Hola {{ usuario }} ! <a href="/admin/login/logout" class="btn btn-sm btn-danger botlogout">Cerrar Sesión <i class="fa fa-sig-out"></i></a></p>
        </div>
    </div>
</div>